@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply font-inter box-border;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8fa;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  display: block;
}
